@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Didact+Gothic&family=EB+Garamond&family=Exo+2&display=swap%27');
*{
    font-family: 'Didact Gothic', serif;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
}
#scene-image {
    position: absolute;
    z-index: 1;
    left:2.5%;
    top: 2%;
}
body {
    margin: 0%;
    padding: 0%;
    background-image: url("BRICK_1A.png");
    background-size: 10%;
    overflow-y: hidden;
    overflow-x: hidden;
}
#action-text {
    background-color: antiquewhite;
    border-style: solid;
    position: absolute;
    margin: auto;
    left: 1%;
    top: 56%;
    height: 24%;
    width: 92%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5vh;
}
#span-option-1 {
    position: absolute;
    width: 45%;
    top: 87%;
    left: 1%;
}
#span-option-2 {
    position: absolute;
    width:45%;
    top: 87%;
    left: 33.75%;
}
#span-option-3 {
    position: absolute;
    width:45%;
    top: 87%;
    left: 66.5%;
}

/* BUTTONS */

    /*BUTTON1*/


    :root{
        --option-1-border-color1:rgb(1, 23, 88);
        --option-1-border-color2:rgb(1, 31, 120);

        --option-1-color1: rgb(1, 37, 151);
    /* CHANGE ONLY THE FIRST VALUE IN THE PARENTHESES */
    }


    .option-1-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    
    .option-1-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    .option-1-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
        to left,
        var(--option-1-border-color1) 0%,
        var(--option-1-border-color2) 8%,
        var(--option-1-border-color2) 92%,
        var(--option-1-border-color1) 100%
        );
    }

    .option-1-front {
        display: block;
        position: relative;
        padding: 12px 27px;

        height: 50px;
        width: 340px;

        border-radius: 12px;
        font-size: 1.1rem;
        color: black;
        background: var(--option-1-color1);
        will-change: transform;
        transform: translateY(-4px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    @media (min-width: 768px) {
        .option-1-front {
            font-size: 1.25rem;
            padding: 12px 42px;
        }
    }

    .option-1-pushable:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
    }

    .option-1-pushable:hover .option-1-front {
        transform: translateY(-6px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-1-pushable:active .option-1-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }

    .option-1-pushable:hover .option-1-shadow {
        transform: translateY(4px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-1-pushable:active .option-1-shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }

    .option-1-pushable:focus:not(:focus-visible) {
        outline: none;
    }


    /*BUTTON2*/


    :root{
        --option-2-border-color1:rgb(50,50,50);
        --option-2-border-color2:rgb(159,159,159);
        
        --option-2-color1: rgb(255, 255, 255);
        /* CHANGE ONLY THE FIRST VALUE IN THE PARENTHESES */
    }


    .option-2-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .option-2-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    .option-2-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
        to left,
        var(--option-2-border-color1) 0%,
        var(--option-2-border-color2) 8%,
        var(--option-2-border-color2) 92%,
        var(--option-2-border-color1) 100%
        );
    }

    .option-2-front {
        display: block;
        position: relative;
        padding: 12px 27px;
        
        height: 50px;
        width: 340px;
        
        border-radius: 12px;
        font-size: 1.1rem;
        color: black;
        background: var(--option-2-color1);
        will-change: transform;
        transform: translateY(-4px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    @media (min-width: 768px) {
        .option-2-front {
            font-size: 1.25rem;
            padding: 12px 42px;
        }
    }

    .option-2-pushable:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
    }

    .option-2-pushable:hover .option-2-front {
        transform: translateY(-6px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-2-pushable:active .option-2-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }

    .option-2-pushable:hover .option-2-shadow {
        transform: translateY(4px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-2-pushable:active .option-2-shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }

    .option-2-pushable:focus:not(:focus-visible) {
        outline: none;
    }
    

    /*BUTTON3*/
    
    
    :root{
        --option-3-border-color1:rgb(137, 12, 21);
        --option-3-border-color2:rgb(197, 16, 30);
        
        --option-3-color1: rgb(237, 40, 57);
        /* CHANGE ONLY THE FIRST VALUE IN THE PARENTHESES */
    }
    
    
    .option-3-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    
    .option-3-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    
    .option-3-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
        to left,
        var(--option-3-border-color1) 0%,
        var(--option-3-border-color2) 8%,
        var(--option-3-border-color2) 92%,
        var(--option-3-border-color1) 100%
        );
    }
    
    .option-3-front {
        display: block;
        position: relative;
        padding: 12px 27px;
        
        height: 50px;
        width: 340px;
        
        border-radius: 12px;
        font-size: 1.1rem;
        color: black;
        background: var(--option-3-color1);
        will-change: transform;
        transform: translateY(-4px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    
    @media (min-width: 768px) {
        .option-3-front {
            font-size: 1.25rem;
            padding: 12px 42px;
        }
    }
    
    .option-3-pushable:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
    }
    
    .option-3-pushable:hover .option-3-front {
        transform: translateY(-6px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    
    .option-3-pushable:active .option-3-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }
    
    .option-3-pushable:hover .option-3-shadow {
        transform: translateY(4px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    
    .option-3-pushable:active .option-3-shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }
    
    .option-3-pushable:focus:not(:focus-visible) {
        outline: none;
    }
