*{
    padding: 0%;
    margin: 0%;
}

#action-text {
    position: relative;
    margin: auto;
    margin-top: 30px;
    height: 500px;
    width: 800px;
    padding: auto;
}
#option-1 {
    position: relative;
    padding: 25px 50px;
    width:41%;
    top: 0px;
    left: 60%;
}
#option-2 {
    position:relative;
    padding: 25px 50px;
    width:41%;
    top: 50px;
    left: 60%;
}
#option-3 {
    position: relative;
    padding: 25px 50px;
    width:41%;
    top: 100px;
    left: 60%;
}

/* BUTTONS */

    /*BUTTON1*/


    :root{
        --option-1-border-color1:hsl(310, 100%, 16%);
        --option-1-border-color2:hsl(310, 100%, 32%);

        --option-1-color1: hsl(310, 100%, 47%);
    /* CHANGE ONLY THE FIRST VALUE IN THE PARENTHESES */
    }


    .option-1-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    
    .option-1-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    .option-1-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
        to left,
        var(--option-1-border-color1) 0%,
        var(--option-1-border-color2) 8%,
        var(--option-1-border-color2) 92%,
        var(--option-1-border-color1) 100%
        );
    }

    .option-1-front {
        display: block;
        position: relative;
        padding: 12px 27px;

        /*height: 100px;*/
        width: 150px;

        border-radius: 12px;
        font-size: 1.1rem;
        color: white;
        background: var(--option-1-color1);
        will-change: transform;
        transform: translateY(-4px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    @media (min-width: 768px) {
        .option-1-front {
            font-size: 1.25rem;
            padding: 12px 42px;
        }
    }

    .option-1-pushable:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
    }

    .option-1-pushable:hover .option-1-front {
        transform: translateY(-6px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-1-pushable:active .option-1-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }

    .option-1-pushable:hover .option-1-shadow {
        transform: translateY(4px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-1-pushable:active .option-1-shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }

    .option-1-pushable:focus:not(:focus-visible) {
        outline: none;
    }


    /*BUTTON2*/


    :root{
        --option-2-border-color1:hsl(310, 100%, 16%);
        --option-2-border-color2:hsl(310, 100%, 32%);
        
        --option-2-color1: hsl(310, 100%, 47%);
        /* CHANGE ONLY THE FIRST VALUE IN THE PARENTHESES */
    }


    .option-2-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .option-2-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    .option-2-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
        to left,
        var(--option-2-border-color1) 0%,
        var(--option-2-border-color2) 8%,
        var(--option-2-border-color2) 92%,
        var(--option-2-border-color1) 100%
        );
    }

    .option-2-front {
        display: block;
        position: relative;
        padding: 12px 27px;
        
        /*height: 100px;*/
        width: 150px;
        
        border-radius: 12px;
        font-size: 1.1rem;
        color: white;
        background: var(--option-2-color1);
        will-change: transform;
        transform: translateY(-4px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }

    @media (min-width: 768px) {
        .option-2-front {
            font-size: 1.25rem;
            padding: 12px 42px;
        }
    }

    .option-2-pushable:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
    }

    .option-2-pushable:hover .option-2-front {
        transform: translateY(-6px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-2-pushable:active .option-2-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }

    .option-2-pushable:hover .option-2-shadow {
        transform: translateY(4px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }

    .option-2-pushable:active .option-2-shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }

    .option-2-pushable:focus:not(:focus-visible) {
        outline: none;
    }
    

    /*BUTTON3*/
    
    
    :root{
        --option-3-border-color1:hsl(310, 100%, 16%);
        --option-3-border-color2:hsl(310, 100%, 32%);
        
        --option-3-color1: hsl(310, 100%, 47%);
        /* CHANGE ONLY THE FIRST VALUE IN THE PARENTHESES */
    }
    
    
    .option-3-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    
    .option-3-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    
    .option-3-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
        to left,
        var(--option-3-border-color1) 0%,
        var(--option-3-border-color2) 8%,
        var(--option-3-border-color2) 92%,
        var(--option-3-border-color1) 100%
        );
    }
    
    .option-3-front {
        display: block;
        position: relative;
        padding: 12px 27px;
        
        /*height: 100px;*/
        width: 150px;
        
        border-radius: 12px;
        font-size: 1.1rem;
        color: white;
        background: var(--option-3-color1);
        will-change: transform;
        transform: translateY(-4px);
        transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    
    @media (min-width: 768px) {
        .option-3-front {
            font-size: 1.25rem;
            padding: 12px 42px;
        }
    }
    
    .option-3-pushable:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
    }
    
    .option-3-pushable:hover .option-3-front {
        transform: translateY(-6px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    
    .option-3-pushable:active .option-3-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }
    
    .option-3-pushable:hover .option-3-shadow {
        transform: translateY(4px);
        transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    
    .option-3-pushable:active .option-3-shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }
    
    .option-3-pushable:focus:not(:focus-visible) {
        outline: none;
    }

